<!DOCTYPE html>
<html ng-app>
    <header>
        <title>Blockchain!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </header>
    
    <body>
        

        